:root {

--blue: hsl(246, 80%, 60%);
--work: hsl(15, 100%, 70%); /* Light red*/
--play:  hsl(195, 74%, 62%); /* Soft blue*/
--study: hsl(348, 100%, 68%); /* Light red*/
--exercise: hsl(145, 58%, 55%); /* lime-green*/
--social: hsl(264, 64%, 52%); /* violet*/
--self-care: hsl(43, 84%, 65%); /* soft-orange*/

/*### Neutral*/

--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);
--card-hover: rgb(52, 57, 123);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--very-dark-blue);
    font-family: 'Rubik', sans-serif;

}

.container {
    width: 88%;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2.2rem;

}

.menu-card {
    background-color: var(--dark-blue);
    border-radius: 1.6rem;
    width: 100%;
}

.card-report {
        background-color: var(--blue);
        border-radius: 1.6rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1.8rem;
}

img {
    width: 26%;
    max-width: 130px;
    border:  3px solid white;
    border-radius: 50%;

}

.report {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4rem;
}


p {
  color: var(--pale-blue);
  font-size: 1.5rem;

}

.name {
    color: white;
    font-size: 2.4rem;
    font-weight: 300;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.6rem;
}

.menu-link {
    color: var(--desaturated-blue);
    font-size: 1.8rem;
    cursor: pointer;
}

.menu-link:hover {
    color: white;
}

.menu-active {
    color: white;
}

.regular-card {    
    width: 100%;
    border-radius: 1.6rem;    
    background-repeat: no-repeat;
    background-position: 92% -1rem;
}

.property-card {
    position: relative;
    background-color: var(--dark-blue);
    margin-top: 4rem;
    border-radius: 1.6rem;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.property-card:hover {
    background-color: var(--card-hover);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    z-index: 98;
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;

}

.point:hover {
    background-color: white;
}

.point::before {
    content: '';
    background-color: pink;/*temporary*/
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*opacity: 0.5;*/
    border-radius: 1.6rem;
    display: none;
    z-index: 1;
}

.point:hover::before {
    background-color: var(--dark-blue);
    display: block;
}

.point {
    background-color: var(--pale-blue);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    margin: 0.2rem;
    z-index: 99;
}



.row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 97;
}

.hours {
    color: white;
    font-size: 3rem;
    font-weight: 300;

}

.description {
    color: var(--pale-blue);

}

.work {
    background-color: var(--work);
    background-image: url(../images/icon-work.svg);

}

.play {
    background-color: var(--play);
    background-image: url(../images/icon-play.svg);

}

.study {
    background-color: var(--study);
    background-image: url(../images/icon-study.svg);

}

.exercise {
    background-color: var(--exercise);
    background-image: url(../images/icon-exercise.svg);

}

.social {
    background-color: var(--social);
    background-image: url(../images/icon-social.svg);

}

.selfcare {
    background-color: var(--self-care);
    background-image: url(../images/icon-self-care.svg);

}

@media screen and (min-width: 570px) {

    .container {
        display: grid;
        grid-template-columns: 48% 48%;
    }

    .menu-card {
        grid-column: 1 / span 2;

    }
    .card-report {
        gap: 3rem;
    }
    

    .regular-card {
        
    }
    .property-card {

    }
    .row-2 {
        flex-direction: column;
        align-items: flex-start;
    }


.hours {
    font-size: 3rem;
}
}

@media screen and (min-width: 1440px) {
    .body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    
    .container {
        width: 77%;

        grid-template-columns: 23% 23% 23% 23%;
        gap: 3rem;
    }

    .menu-card {
        grid-row: 1 / span 2;
        grid-column: unset;
        height: 100%;
    }

    .card-report {
        flex-direction: column;
        align-items: flex-start;
        height: 70%;
        padding: 3.5rem 3rem;
    }

    img {
        width: 8.4rem;
    }

    .report {
        margin-top: 1.0rem;
    }

    .name {
        font-size: 4rem;
    }

    .menu {
        height: 30%;

        flex-direction: column;
        align-items: flex-start;
    }

    .regular-card {

    }

    .property-card {
        margin-top: 4.5rem;
        padding: 2.8rem;
    }

    .row-2 {

    }

    .hours {
        font-size: 5.5rem;
        padding-top: 1.9rem;
    }

    .description {
        padding-top: 1.0rem;
    }

}
